<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1042913021422-8emun219jq14v66qi1quda10d8dc7m1i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1042913021422-8emun219jq14v66qi1quda10d8dc7m1i</string>
	<key>API_KEY</key>
	<string>AIzaSyB0xZLu4ApRZmvtfO25AjzUFUnKU80MwtE</string>
	<key>GCM_SENDER_ID</key>
	<string>1042913021422</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notification</string>
	<key>PROJECT_ID</key>
	<string>notification-6f099</string>
	<key>STORAGE_BUCKET</key>
	<string>notification-6f099.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1042913021422:ios:cc04dfa52ee18ca1ee52ff</string>
</dict>
</plist>